<div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title text-white" id="myModalLabel">
        <span *ngIf="formType == 'editTask'">Edit Task: #{{task.id}} - {{task.name}}</span>
        <span *ngIf="formType == 'addTask'">Add new Task: </span>
    </h4>
</div>
<div class="modal-body  mx-3" style="padding-top: 5px; padding-bottom: 5px;">



    <div class="md-form mb-2">
        <mdb-icon fas icon="info-circle" class="prefix grey-text" ></mdb-icon>
        <input type="text" id="form2" class="form-control-sm" [formControl]="editTaskName" mdbInput mdbValidate>
        <label for="form2"  mdbTooltip="Basic tooltip" placement="right">Category Name</label>
        <mdb-error *ngIf="editTaskName.invalid && (editTaskName.dirty || editTaskName.touched)">
            Input invalid
        </mdb-error>
        <mdb-success
            *ngIf="editTaskName.valid && (editTaskName.dirty || editTaskName.touched) || editTaskName.value">
            Input valid
        </mdb-success>
    </div>

    <div class="md-form mb-2">
        <mdb-icon fas icon="info-circle" class="prefix grey-text" ></mdb-icon>
        <input type="text" id="form2" class="form-control-sm" [formControl]="editTaskDescription" mdbInput mdbValidate>
        <label for="form2"  mdbTooltip="Basic tooltip" placement="right">Category Name</label>
        <mdb-error *ngIf="editTaskDescription.invalid && (editTaskDescription.dirty || editTaskDescription.touched)">
            Input invalid
        </mdb-error>
        <mdb-success
            *ngIf="editTaskDescription.valid && (editTaskDescription.dirty || editTaskDescription.touched) || editTaskDescription.value">
            Input valid
        </mdb-success>
    </div>

    <br><br>











</div>

<div class="modal-footer  text-center " style="display: inline;">
    <button type="button" mdbBtn color="primary" class="waves-light" aria-label="Close" (click)="closeModal()"
        mdbWavesEffect><i class="fas fa-times-circle"></i>&nbsp;Close</button>
    <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
        [disabled]="!validatingForm.valid" (click)="save()"><i class="fas fa-save"></i>&nbsp;Save!</button>
</div>
